<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col l4 s12 center-align">
                <h6 class="grey-text text-lighten-4">“My mama always said life was like a box of chocolates. You never know what you're gonna get.”</h6>
            </div>
            <div class="col l4 offset-l2 s12 center-align">
                <h5 class="white-text footerHeader">Made with <i class="fa-solid fa-heart red-text text-darken-2"></i> by:</h5>
                <ul class="row">
                    <li class="grey-text text-lighten-3 col s4"><a class="grey-text text-lighten-3 names" href="https://github.com/freddie1717">Chandra</a></li>
                    <li class="grey-text text-lighten-3 col s4"><a class="grey-text text-lighten-3 names" href="https://github.com/codingmypath">Edgar</a></li>
                    <li class="grey-text text-lighten-3 col s4"><a class="grey-text text-lighten-3 names" href="https://github.com/JohnEmilio">John</a></li>
                    <li class="grey-text text-lighten-3 col s6"><a class="grey-text text-lighten-3 names" href="https://github.com/rdabrusco">Ryan</a></li>
                    <li class="grey-text text-lighten-3 col s6"><a class="grey-text text-lighten-3 names" href="https://github.com/gabrielarce">Gabe</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/review.js"></script>

</body>

</html>