<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section class="reviews">
    <h1 class="reviews-title">All User Reviews</h1>
    <ul class="flex all-reviews">
    <% reviews.forEach( el => { %>
            <li class='each-review flex column'>
                <span class='title'><%= el.movie %></span>
                <!--<img class='movieImg'><%= el.img %></img>-->
                <span class='rating'><%= el.rating %></span>
                <p class='review'><%= el.review %></p>
            </li>
    <% }) %>    
    </ul>

    <a class="button-reviews" href="/reviews/newReview">Add a review</a>

    <a class="button-reviews" href="/logout">Logout</a>
    </section>
    <script src="../js/main.js"></script>
</body>
</html>