<%- include("partials/header.ejs") %>
    <section class="row index-background">
        <section class="menu">
            <h1 class="m12 name">What did you think ...</h1>

        </section>
    </section>
    <section class="row">
        <div class="container">
            <h3>
                Some Text
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nisi voluptate magni dignissimos nemo quam repellendus voluptas! Sit reprehenderit quam culpa vitae dolorum officia reiciendis illo, ullam veritatis aspernatur soluta? Quo
                minima alias qui, reprehenderit placeat nihil culpa voluptas ad. Provident, id optio enim soluta, quis unde ducimus iusto dolore odit nesciunt corrupti? Blanditiis amet vel iure, enim quidem sed. Voluptate eveniet optio voluptatibus incidunt
                aliquam quaerat laudantium ut, totam nesciunt eligendi similique voluptatem unde corporis laboriosam perferendis ducimus minus quo eum est doloribus explicabo reiciendis? Quam officiis velit quos!</p>
        </div>
    </section>

    <%- include("partials/footer.ejs") %>