h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*
   Review page
*/

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

.moviePoster {
    width: 50%;
}

.container,
.reviewCard {
    background: linear-gradient(-40deg, rgb(68, 66, 66, 0.3), white) ;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 5px 15px black;
}

.searchContainer,
.movieContainer,
.reviewCard {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.searchContainer > *,
.movieContainer > *,
.reviewCard > * {
    margin-top: .5rem;
}

.cardHeader {
    font-size: 2rem;
}

.subHeader {
    font-size: 1.5rem;
    font-weight: 600;
}

.movieTitle {
    color: red;
    font-weight: 600;
}

#movieSearch {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

#movieSearch:focus {
    outline: none;
}

.starContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.movieDesc {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 1rem;
}

.rate {
    width: fit-content;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:rgb(94, 94, 94);
}

.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label,
.rating {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.column{
    flex-direction: column;
}

#review {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    background-color: transparent;
    border: 2px solid black;
}

#review:focus {
    outline: none;
}

 
/* Index Page 2*/


.profileContainer {
    width: 90%;
    margin: 1rem auto;
}

.profileReviewCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.profileContainer > ul > * {
    margin: 0 1rem;
}

.profileCard {
    padding: 20px;
    width: 100%;
}

.name {
    font-family: sans-serif;
    text-align: center;
    padding: 2rem;
    margin: 3rem 1rem;
    margin-top: 8rem;
    font-size: 40px;
}

.index-background {
    background: url("/images/cinema-curtain.jpg"); 
    background-repeat: no-repeat;
    background-size: 2000px 1200px;
    background-position: center;
    background-position-y: -65px; 
}

.menu {
    font-family: sans-serif;
    text-align: center;
    color: red;
    margin: 2rem auto;
    max-width: 750px;
    height: 820px;
    padding: 2rem 5rem; 
}


.button {
    margin: 1rem;
    text-decoration: none;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #070707;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.30);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.50);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
   }
   
   .button:hover {
    color: #fafafa;
    cursor: pointer;
   }
   
   .button:hover::before {
    width: 100%;
   }

   .button-small{
    padding: 8px 10px;
   }

@media (max-width: 1025px) { 
/*  
    .index-background {
        background-size: 2000px cover;
    }  */
}



/* Reviews */

.reviews-title {
    margin: 2rem;
    font-size: 40px;
}
.mainReview {
    text-align: center;
    margin-top: 100px;
}

.button-reviews {
    margin: 2rem;
    text-decoration: none;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #070707;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.30);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.50);
    transition: all 250ms;
    overflow: hidden;
   }
   
.button-reviews::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
   
.button-reviews:hover {
    color: #fafafa;
}
   
.button-reviews:hover::before {
    width: 100%;
}


 /* signup section */

.signup {
    margin: 2rem;
    text-align: center;
}



   /* newReview Section*/

.button-post-review {
    margin: 2rem;
    text-decoration: none;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #070707;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.30);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.50);
    transition: all 250ms;
    overflow: hidden;
}
   
.button-post-review::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
   
.button-post-review:hover {
    color: #fafafa;
}
   
.button-post-review:hover::before {
    width: 100%;
}

/* allReviews Section*/
.all-reviews {
    display: flex;
    justify-content: center;
    
}
.each-review{
   
   

}


