h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.column{
    flex-direction: column;
}

.moviePoster {
    width: 20%;
}

 
/* Index Page 2*/

.name {
    font-family: sans-serif;
    text-align: center;
    padding: 2rem;
    margin: 3rem 1rem;
    margin-top: 8rem;
    font-size: 40px;
}

.index-background {
    background: url("/images/cinema-curtain.jpg"); 
    background-repeat: no-repeat;
    background-size: 2000px 1200px;
    background-position: center;
    background-position-y: -65px; 
}

.menu {
    font-family: sans-serif;
    text-align: center;
    color: red;
    margin: 2rem auto;
    max-width: 750px;
    height: 820px;
    padding: 2rem 5rem; 
}

/* .button {
    margin: 2rem;
    background: black;
    border: 1px solid black;
    color: white;
    padding: 0.7rem 1rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    color: black;
    background: white;
    border: 1px solid black;
} */

.button {
    margin: 2rem;
    text-decoration: none;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #070707;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.30);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.50);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .button:hover {
    color: #fafafa;
   }
   
   .button:hover::before {
    width: 100%;
   }

@media (max-width: 1025px) { 
/*  
    .index-background {
        background-size: 2000px cover;
    }  */
}



/* Reviews */
.reviews-title {
    margin: 2rem;
    font-size: 40px;
}
.reviews {
    text-align: center;
}

.button-reviews {
    margin: 2rem;
    text-decoration: none;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #070707;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.30);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.50);
    transition: all 250ms;
    overflow: hidden;
   }
   
.button-reviews::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
   
.button-reviews:hover {
    color: #fafafa;
}
   
.button-reviews:hover::before {
    width: 100%;
}


 /* signup section */

.signup {
    margin: 2rem;
    text-align: center;
}



   /* newReview Section*/

.button-post-review {
    margin: 2rem;
    text-decoration: none;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #070707;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.30);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.50);
    transition: all 250ms;
    overflow: hidden;
}
   
.button-post-review::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
   
.button-post-review:hover {
    color: #fafafa;
}
   
.button-post-review:hover::before {
    width: 100%;
}