* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}


/* header */

.brand-logo {
    color: #E50914;
}

nav {
    background-color: #c30829;
}

nav li a {
    font-weight: 600;
}

nav li a:hover {
    font-size: 1em;
    text-decoration: underline;
}

nav .container {
    border: none
}

.header-user {
    padding-right: 15px;
    text-transform: capitalize;
}

.header-login {
    background-color: white;
}

.header-reviews {
    background-color: #a5011f;
}

.header-login a {
    color: black;
}

.header-signup {
    background-color: #a5011f;
}

.header-login a {
    color: black;
}

.header-logout {
    background-color: #fff;
}

.header-logout a {
    color: #000;
}

.header-dash,
.header-dash a {
    background: #EDB230;
    color: black
}


/* Side Nav */

.sidenav {
    background-color: #000;
    color: white
}

.side-dash {
    background: #EDB230;
    color: black
}

.side-logout {
    background-color: #C30829;
}

.sidenav .side-logout a {
    color: white;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.not {
    text-decoration: underline;
}


/*   Footer    */

.footerHeader {
    margin: 0;
    margin-bottom: 1rem;
}

.names {
    font-size: 1.2em;
}

.names:hover {
    text-decoration: underline;
}


/* Login */

.login-page,
.signup-page {
    height: 100vh;
    background-color: #212121;
    color: white;
}

.signup-form>input {
    color: white;
}

.login-form>input {
    color: white;
}

.form-left {
    margin-top: 35vh
}

.form-right {
    background-image: url("../images/moviePosters.jpg");
    background-size: cover;
    height: 100vh
}

.login-page h2,
.signup-page h2 {
    text-align: center;
    color: white;
}

.login-page .container,
.signup-page .container {
    background: #ffb6c117;
    border: 1px solid #47b38b;
    border-radius: 1;
    box-shadow: none;
    padding: 5%;
}


/*
   Review page
*/

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
    padding-top: 100px;
}

.moviePoster {
    width: 50%;
}


/* .container, */

.reviewCard {
    background: linear-gradient(175deg, rgba(125, 125, 125, 0.607), white);
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 5px 15px black;
}

.searchContainer,
.movieContainer,
.reviewCard {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 20px;
    position: relative;
}

.searchContainer>*,
.movieContainer>*,
.reviewCard>* {
    margin-top: .5rem;
}

.cardHeader {
    font-size: 2rem;
}

.subHeader {
    font-size: 1.5rem;
    font-weight: 600;
}

.movieTitle {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

#movieSearch {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

#movieSearch:focus {
    outline: none;
}

.starContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.movieDesc {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 1rem;
}

.rate {
    width: fit-content;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: rgb(94, 94, 94);
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label,
.rating {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.star {
    color: #ffc700;
    font-size: 35px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.column {
    flex-direction: column;
}

#review {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    background-color: transparent;
    border: 2px solid black;
    width: 80%;
    height: 150px;
}

#review:focus {
    outline: none;
}

#review::placeholder,
#movieSearch::placeholder {
    color: rgb(138, 138, 138)
}


/* Index Page 2*/

.profileContainer {
    width: 90%;
    margin: 1rem auto 0 auto;
}

.profileReviewCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.profileContainer>ul>* {
    margin: 0 1rem;
}

.profileCard {
    padding: 20px;
    width: 100%;
}

.logo {
    padding-top: 5rem;
    width: 250px;
}

.name {
    font-family: sans-serif;
    text-align: center;
    padding: 2rem;
    margin: 0 1rem;
    font-size: 40px;
}

.index-background {
    height: 100vh;
    background: url("../images/sitting_theater.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.heroHeading {
    position: fixed;
    width: 100%;
}

.heroHeading h1 {
    color: #EDB230;
    font-size: 5rem;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 5%;
}

.menu {
    font-family: sans-serif;
    text-align: center;
    color: red;
}

.button {
    margin: 1rem;
    text-decoration: none;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #070707;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 600;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.30);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.50);
    transition: all 250ms;
    overflow: hidden;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

.button:hover {
    color: #fafafa;
    cursor: pointer;
}

.button:hover::before {
    width: 100%;
}

.button-small {
    padding: 8px 10px;
}

@media (max-width: 1025px) {
    /*  
    .index-background {
        background-size: 2000px cover;
    }  */
}


/* Reviews */

.reviewsPage {
    background: url("../images/seats.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-color: rgb(0 0 0 / 49%);
    /* Tint color */
    background-blend-mode: multiply;
    padding-bottom: 20px;
}

.reviewsPage h1 {
    margin: 0;
    padding-top: 20px;
}

.reviews-title {
    font-size: 40px;
    color: #FFF
}

.mainReview {
    text-align: center;
}

.button-reviews {
    margin: 2rem;
    text-decoration: none;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #070707;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.30);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.50);
    transition: all 250ms;
    overflow: hidden;
}

.button-reviews::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.button-reviews:hover {
    color: #fafafa;
}

.button-reviews:hover::before {
    width: 100%;
}


/* signup section */

.signup {
    margin: 2rem;
    text-align: center;
}


/* newReview Section*/

.button-post-review {
    margin: 2rem;
    text-decoration: none;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #070707;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.30);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.50);
    transition: all 250ms;
    overflow: hidden;
}

.button-post-review::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.button-post-review:hover {
    color: #fafafa;
}

.button-post-review:hover::before {
    width: 100%;
}


/* allReviews Section*/

.all-reviews {
    display: flex;
    justify-content: center;
}


/* Edit Section */

.edit {
    color: #fff;
    float: right;
    position: absolute;
    top: 2%;
    right: 5%;
    font-size: 1.5rem;
}

.title {
    color: #FFF;
    text-align: center;
}

#update {
    padding: 0
}

.watchlistHeader {
    color: #fff
}

@media (max-width: 1520px) {
    .profileReviewCard {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
    .profileContainer>ul>* {
        margin: 0 0;
    }
}

@media (max-width: 1120px) {
    .profileReviewCard {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
}

@media (max-width: 720px) {
    .profileReviewCard {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
    }
}